In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#pd.options.display.float_format = '{:.2f}'.format

In [23]:
# Tabela Policies
df_policies = pd.read_excel('fake_allocation_policies.xlsx', names=['class_name', 'conservador', 'moderado-conservador', 'moderado', 'moderado-agressivo', 'agressivo'])

# Tabela Position
df_position = pd.read_csv('fake_position.csv')


# Tabela account 
accounts = df_position[['account_code', 'account_suitability']]


# Tabela asset 
asset = df_position['asset_name'].drop_duplicates()
asset = pd.DataFrame(asset)
asset.insert(0, 'id',  range(0, 0 + len(asset)))
asset.head()

account = accounts.drop_duplicates()

In [24]:
df_position.head()

,account_code,account_suitability,asset_name,asset_cnpj,class_name,position_value
0,65547.00,moderado,CDB PRE DU CDB120CAG00,NaN,Renda Fixa Pré-Fixada,133886.22
1,65547.00,moderado,CDB PRE DU CDB320A2QHT,NaN,Renda Fixa Pré-Fixada,61127.17
2,65547.00,moderado,CDB PRE DU CDB420IBE9D,NaN,Renda Fixa Pré-Fixada,206855.53
3,65547.00,moderado,CDB PRE DU CDB321ALNBI,NaN,Renda Fixa Pré-Fixada,47910.69
4,65547.00,moderado,LCI PRE 21K00148900,NaN,Renda Fixa Pré-Fixada,71442.63

In [25]:
position = df_position.copy()
policies = df_policies.copy()

position['account_code'].fillna(0, inplace=True)
position['account_code'] = position['account_code'].astype(int)

#position['position_value'] = position['position_value'].astype(float)

In [26]:
df_agrupado_classe = position.groupby(['account_code', 'account_suitability','class_name']).agg({'position_value': 'sum'}).reset_index()
df_agrupado_classe.head(9)

   account_code   account_suitability             class_name  position_value
0          2429              moderado    Renda Fixa Inflação    134310122.39
1          2429              moderado  Renda Fixa Pré-Fixada       296872.54
2          2429              moderado  Renda Fixa Pós-Fixada         6425.97
3          2429              moderado    Reserva de Liquidez        13061.73
4          2429              moderado         Saldo em Conta            0.00
5          6777  moderado-conservador           Alternativos        32197.54
6          6777  moderado-conservador           Multimercado        20820.84
7          6777  moderado-conservador    Renda Fixa Inflação        32335.25
8          6777  moderado-conservador  Renda Fixa Pré-Fixada        18299.89

In [27]:
df_agrupado_suitability = df_agrupado_classe.groupby(['account_code', 'account_suitability']).agg({'position_value': 'sum'}).reset_index()
df_agrupado_suitability

    account_code   account_suitability  position_value
0           2429              moderado    134626482.63
1           6777  moderado-conservador       470566.94
2           7826  moderado-conservador       183962.86
3          18073  moderado-conservador     65559838.14
4          20921             agressivo        27915.92
5          32263  moderado-conservador    278274189.45
6          32449  moderado-conservador      1726743.04
7          45848              moderado       125103.31
8          46168              moderado       162024.01
9          46744    moderado-agressivo        37913.63
10         47497  moderado-conservador       229990.52
11         49232  moderado-conservador       740838.39
12         51239              moderado      3691200.38
13         55101              moderado       309224.05
14         55836              moderado    184423331.02
15         56165    moderado-agressivo       384105.18
16         58230  moderado-conservador     58018918.87
17         65547              moderado     67800266.13
18         66740  moderado-conservador        86160.81
19         72740              moderado   1016656595.26
20         73707    moderado-agressivo         8412.89
21         76497              moderado        90022.95
22         78059              moderado        59031.72
23         82356           conservador       451833.67

In [28]:
df_agrupado_suitability['total_value'] = df_agrupado_suitability['position_value']

In [29]:
t = pd.merge(df_agrupado_suitability, df_agrupado_classe, on='account_code', how='left')
t = t[['account_code', 'total_value']].drop_duplicates()

In [30]:
t.value_counts().sum()

24

In [31]:
position['account_suitability']

0                  moderado
1                  moderado
2                  moderado
3                  moderado
4                  moderado
               ...
529             conservador
530      moderado-agressivo
531               agressivo
532    moderado-conservador
533                     NaN
Name: account_suitability, Length: 534, dtype: object

In [32]:
def get_metrica(row):
    politica = row['account_suitability']
    if politica == 'conservador':
        return row['conservador']
    elif politica == 'moderado conservador':
        return row['moderado_conservador']
    elif politica == 'moderado':
        return row['moderado']
    elif politica == 'moderado agressivo':
        return row['moderado_agressivo']
    elif politica == 'agressivo':
        return row['agressivo']
    else:
        return None


merged = pd.merge(position, policies, on='class_name')

merged['metrica'] = merged.apply(get_metrica, axis=1)

merged.head()

,account_code,account_suitability,asset_name,asset_cnpj,class_name,position_value,conservador,moderado-conservador,moderado,moderado-agressivo,agressivo,metrica
0,65547,moderado,CDB PRE DU CDB120CAG00,NaN,Renda Fixa Pré-Fixada,133886.22,0.05,0.08,0.10,0.11,0.10,0.10
1,65547,moderado,CDB PRE DU CDB320A2QHT,NaN,Renda Fixa Pré-Fixada,61127.17,0.05,0.08,0.10,0.11,0.10,0.10
2,65547,moderado,CDB PRE DU CDB420IBE9D,NaN,Renda Fixa Pré-Fixada,206855.53,0.05,0.08,0.10,0.11,0.10,0.10
3,65547,moderado,CDB PRE DU CDB321ALNBI,NaN,Renda Fixa Pré-Fixada,47910.69,0.05,0.08,0.10,0.11,0.10,0.10
4,65547,moderado,LCI PRE 21K00148900,NaN,Renda Fixa Pré-Fixada,71442.63,0.05,0.08,0.10,0.11,0.10,0.10

In [33]:
df_agrupado_classe = merged.groupby(['account_code', 'account_suitability','class_name', 'metrica']).agg({'position_value': 'sum'}).reset_index()
df_agrupado_classe.head(9)

,account_code,account_suitability,class_name,metrica,position_value
0,2429,moderado,Renda Fixa Inflação,0.24,134310122.39
1,2429,moderado,Renda Fixa Pré-Fixada,0.10,296872.54
2,2429,moderado,Renda Fixa Pós-Fixada,0.30,6425.97
3,2429,moderado,Saldo em Conta,0.00,0.00
4,20921,agressivo,Renda Fixa Pós-Fixada,0.05,20237.32
5,20921,agressivo,Renda Variável,0.20,4251.29
6,20921,agressivo,Saldo em Conta,0.00,3.65
7,45848,moderado,Multimercado,0.22,26015.53
8,45848,moderado,Renda Fixa Inflação,0.24,5604.31

In [34]:
df = pd.merge(df_agrupado_classe, t, on='account_code')
df.head()

,account_code,account_suitability,class_name,metrica,position_value,total_value
0,2429,moderado,Renda Fixa Inflação,0.24,134310122.39,134626482.63
1,2429,moderado,Renda Fixa Pré-Fixada,0.10,296872.54,134626482.63
2,2429,moderado,Renda Fixa Pós-Fixada,0.30,6425.97,134626482.63
3,2429,moderado,Saldo em Conta,0.00,0.00,134626482.63
4,20921,agressivo,Renda Fixa Pós-Fixada,0.05,20237.32,27915.92

In [35]:
round(134626482.63 * 0.24,1)

32310355.8

In [36]:
df['valor_esperado'] = round(df['total_value'] * df['metrica'],1)
df.head()

,account_code,account_suitability,class_name,metrica,position_value,total_value,valor_esperado
0,2429,moderado,Renda Fixa Inflação,0.24,134310122.39,134626482.63,32310355.80
1,2429,moderado,Renda Fixa Pré-Fixada,0.10,296872.54,134626482.63,13462648.30
2,2429,moderado,Renda Fixa Pós-Fixada,0.30,6425.97,134626482.63,40387944.80
3,2429,moderado,Saldo em Conta,0.00,0.00,134626482.63,0.00
4,20921,agressivo,Renda Fixa Pós-Fixada,0.05,20237.32,27915.92,1395.80

In [38]:
round(6425.97 + 296872.54 + 134310122.39,2)

134613420.9